#svg-shape {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
}

svg {
  position: fixed;
  width: 100vw;
  height:100vh;
}

main {
  position: relative;
  z-index: 1;
}

section { border-bottom: 1px solid gray; }
#one { height: 120vh; }
#two { height: 50vh; }
#three { height: 80vh; }

h1 {
  font-size: 50px;
  text-transform: uppercase;
  margin: 0;
  padding: 1em;
}
